<div class="feed">
    <%= link_to  @post.user.email, @post.user %><br>
    <%= image_tag @post.image, class: "my-pic" %><br>
    <%= @post.caption %><%= button_to "Delete", @post, method: :delete %>
</div>

