
.logo {
    font-family: Lobster;
    font-size: 25px;
    
}
.feed-box {
    width: 50%;
    margin-bottom: 40px;
}

.feed {
    padding:10px;
    border:1px solid #00000041;
}

.my-pic {
    width: 750px;
    
}
